* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  max-width: 600px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

#countdown {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#countdown div {
  padding: 20px;
  border-radius: 10px;
  min-width: 100px;
}

#countdown span {
  font-size: 2.5rem;
  color: #fff;
}

#countdown p {
  margin-top: 10px;
  font-size: 1rem;
  color: #aaa;
}

.bottom-text {
  margin-top: 40px;
  font-style: italic;
  color: #303030;
}

.logo {
  max-width: 300px;
  width: 100%;
  margin-bottom: 30px;
}